@import "../../styles/colors.module";

.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  & textarea {
    width: 100%;
    flex-grow: 1;
    resize: none;
    outline: none;
    border: 1px solid transparent;
    padding: 5px;
    background-color: transparent;
    color: $blue;
    border-radius: 0 0 20px 20px;
  }
}
