body,
#root {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
}

#root {
  flex-grow: 1;
  background-color: #232946;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
